<br>
<div class="container">
  <div class="card">
  <div class="card-header">
    Create a Burger
  </div>
  <div class="card-body">
    <form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Is the Burger good?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eat-da-burger<br>
    <input type="radio" name="devoured" value="0"> Add Burger to the Menu
  </div>

  <button class="btn btn-warning" type="submit">Add Burger</button>
</form>
  </div>
</div>
<br>
<div class="row">
<div class="col-sm">
      <h4>Burgers On The <strong>Menu</strong></h4>
      <ul>
        {{#each burgers}}
         {{#unless devoured}}
           {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
        <div class="col-sm">
      <img src="/assets/burgerBuild.png">
    </div>
    <div class="col-sm">
      <h4>Burgers That Have Been <strong>Eaten</strong></h4>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
  </div>